# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# TypeScript compiled files
dist/


# IDE and editor settings
.vscode/
.idea/

# Optional npm cache directory
.npm

# Debug files
*.log
